section.filter {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter___container--dropDown,
.filter___container--sortingDropDown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter___container--dropDown > li {
  margin-right: 1em;
}

.filter___container--dropDown > li:last-child {
  margin-right: 0;
}
