nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  font-weight: 400;
}

nav > ul > li {
  margin-right: 1em;
  cursor: pointer;
}

nav > ul > li:last-child {
  margin-right: 0;
}

.nav___button--controller {
  display: flex;
  align-items: center;
  font-size: 24px;

  color: var(--secondary-color);
}

.nav___button--controller > svg,
.nav___button--controller > a {
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav___button--controller___input-field {
  padding: 0.3em 0.5em;
  width: 30vw;
  border-radius: 5px;
  background-color: var(--quaternary-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--secondary-color);
}

.nav___button--controller___input-field > svg {
  font-size: 1.2rem;
}

.nav___button--controller___input-field > svg:first-child {
  margin-right: 0.5em;
}

.nav___explore {
  background-color: var(--tertiary-color);
  border-bottom: 1px solid #f2f2f2;
  width: 100%;

  position: fixed;
  height: 24vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.nav___explore > nav  {
position: unset;
border-bottom: 1px solid #f2f2f2;
}