nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  font-weight: 400;
}

nav > ul > li {
  margin-right: 1em;
  cursor: pointer;
}

nav > ul > li:last-child {
  margin-right: 0;
}

.nav___button--controller {
  display: flex;
  align-items: center;
  font-size: 24px;

  color: var(--secondary-color);
}

.nav___button--controller > svg,
.nav___button--controller > a {
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav___button--controller___input-field {
  padding: 0.3em 0.5em;
  width: 30vw;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 14px 14px 28px #f0f0f0, inset -14px -14px 28px #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav___button--controller___input-field > svg{
  font-size: 1.2rem;
}