section.companyPartner {
  margin-top: -3em;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.companyPartner___container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 80%;
  height: auto;

  background-color: var(--primary-color);
  border-radius: 100px;
  padding: 1em 0;
}

.companyPartner___container--logo {
  width: auto;
  height: 5em;
}
.companyPartner___container--logo > img {
  width: auto;
  height: 100%;

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 40%;
}

.companyPartner___container--logo > img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 100%;
}
