.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 4em;
  height: calc(100vh - 80px);

  position: none;
}

.hero___imageStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero___headerImage {
  position: relative;
  height: 100%;
  width: auto;
}

.hero___headerImage img,
.hero___headerImage div {
  position: absolute;
}

.hero___headerImage div {
  background-color: var(--primary-color);
}

.hero___headerImage--rectangleOne,
.hero___headerImage--rectangleTwo,
.hero___headerImage--rectangleThree,
.hero___headerImage--rectangleFour {
  width: 6em;
  height: 16em;
}

.hero___headerImage--rectangleOne {
  left: 5vw;
  top: 25vh;
  height: 20em;
}

.hero___headerImage--rectangleTwo {
  top: 5vh;
  left: calc(5vw + 5em);
}

.hero___headerImage--rectangleThree {
  height: 16em !important;

  right: 8vw;
  top: 16vh;
}

.hero___headerImage--rectangleFour {
  top: calc(16vh + 16em - 9em);
  right: 8vw;

  transform: rotate(90deg);
}

.hero___headerImage img {
  background-image: url("../../.././assets/image_13.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 16em;
  height: 9em;
  z-index: 9;
}

.hero___headerImage--imagesOne {
  left: 1vw;
  top: 10vh;
}

.hero___headerImage--imagesTwo {
  transform: scale(0.7);
  left: 8vw;
  top: calc(14vh + 8em);
}

.hero___headerImage--imagesThree {
  transform: scale(0.9);
  left: 2vw;
  top: calc(16vh + 16em);
}

.hero___headerImage--imagesFour {
  transform: scale(0.9);
  right: 2vw;
  top: 5vh;
}

.hero___headerImage--imagesFive {
  transform: scale(0.7);
  right: 8vw;
  top: calc(10vh + 8em);
}

.hero___headerImage--imagesSix {
  transform: scale(0.9);
  right: 2vw;
  top: calc(14vh + 16em);
}

.hero___headerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
}

.hero___headerTitle h1,
.hero___headerTitle h6 {
  text-align: center;
}

.hero___headerTitle h1 {
  line-height: 1;
  width: 80%;
}

.hero___headerTitle h6 {
  margin: 1rem 0 2.5em 0;
  line-height: 2;
}

.hero___headerTitle--buttonController {
  display: flex;
  align-items: center;
}

.hero___headerTitle--buttonController :first-child {
  margin-right: 1em;
}
